@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Camiiler";
}

<main>
    
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Gebzedeki Camiiler</h1>
        <p class="lead text-muted">Gebzede bulunan camiilere kısa bir bakış atalım.</p>
       
      </div>
    </div>
  </section>

   
        <!-- col dikey album -->

        <div class="album py-5 bg-light">
            <div class="container">

          
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
			<img src="~/assets/images/car.jpg" alt="..." class="img-thumbnail">



            <div class="card-body">
				<p class="h1">Çarşı Camii</p>
              <p class="card-text">Geçtiğimiz yıllarda yıkılarak hayırsever vatandaşların destekleriyle yeniden yapımılmıştır. Camii Osmanlı ve Selçuklu mimarisini yansıtmaktadır.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://goo.gl/maps/kp1m1rUwkzpFq1bM7">
					
					<button type="button" class="btn btn-sm btn-outline-secondary">Git</button>
                  </a>
                </div>
             </div>
          </div>
		</div>
        </div>
          
		
       
		  <!-- col dikey album sonu-->
		
		  <!-- row yatay album -->
		 <div class="col">
          <div class="card shadow-sm">
			<img src="~/assets/images/mpc.jpg" alt="..." class="img-thumbnail">

            <div class="card-body">
            <p class="h1">Mustafapaşa Camii</p>

              <p class="card-text">Külliyeyi, Yavuz Sultan Selim’in kızlarından Hanım Hatun’la evli olan Çoban Mustafa Paşa (ö. 935/1529) yaptırmış ve Memlük tarzındaki süslemelerinde kullanılan malzemeleri de Mısır valisi iken bizzat kendisi oradan getirmiştir. Caminin mermer kitâbesinde ebcedle verilmiş 930 (1523-24), ahşap kapı kanatlarında ise 929 (1522-23) tarihleri okunmaktadır.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <a href="https://goo.gl/maps/4fD4eh78k41zQTxS7">
					
					<button type="button" class="btn btn-sm btn-outline-secondary">Git</button>
                  </a>
               
                </div>
              
              </div>
            </div>
          </div>
        </div>
        		  <!-- row yatay album sonu -->
				 
        <!-- col dikey album -->

        <div class="album py-5 bg-light">
            <div class="container">

          
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				 
        <div class="col">
          <div class="card shadow-sm">
			<img src="~/assets/images/ibc.jpg" alt="..." class="img-thumbnail">
			


            <div class="card-body">
				<p class="h1">İlyasbey Camii</p>
              <p class="card-text">İlyas Bey Camii: İlk defa İlyas Bey tarafından yaptırılan caminin inşa tarihi kesin olarak bilinmemektedir. Ancak Gebze'nin ilk fethedildiği yıllarda 1326’da yapılmaya başlandığı tahmin edilmektedir. İlyas Bey Camii Osmanlılardan kalma en eski cami sayılmaktaydı. Orhan Gazi döneminden kalma bu cami 2010 yılında yıkılarak yerine betonarme bir cami yapılmıştır...</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://goo.gl/maps/3gSJ3yzhfPcW6P2H9">
					
					<button type="button" class="btn btn-sm btn-outline-secondary">Git</button>
                  </a>
                </div>
             </div>
          </div>
		</div>
        </div>
       
		
       
		  <!-- col dikey album sonu-->
		
		  <!-- row yatay album -->
		 <div class="col">
          <div class="card shadow-sm">
			<img src="~/assets/images/soc.jpg" alt="..." class="img-thumbnail">
			
            <div class="card-body">
            <p class="h1">Sultan Orhan Camii</p>

              <p class="card-text">Gebze’deki Osmanlı eserlerinin en eskisidir. Sultan Orhan tarafından yaptırılmıştır. Yapım tarihini belirten bir yazıt yoktur. Başbakanlık Osmanlı Devlet Arşivi'ndeki kayıtlarda H.726 (M.1328) tarihinde yapımına başlandığı belirtilmektedir.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <a href="https://goo.gl/maps/xcsHdShR7MGmaz65A">
					
					<button type="button" class="btn btn-sm btn-outline-secondary">Git</button>
                  </a>
               
                </div>
              
              </div>
            </div>
          </div>
        </div>
        		  <!-- row yatay album sonu -->
				 
        <!-- col dikey album -->

        <div class="album py-5 bg-light">
            <div class="container">

          
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				 
        <div class="col">
          <div class="card shadow-sm">
			<img src="~/assets/images/kbc.jpg" alt="..." class="img-thumbnail">



            <div class="card-body">
				<p class="h1">Karabakkal Camii</p>
              <p class="card-text">Gebze'nin Sultan Orhan mahallesinde bulunan sıradan bir camiidir.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://goo.gl/maps/5hDrynMrRsouqVc38">
					
					<button type="button" class="btn btn-sm btn-outline-secondary">Git</button>
                  </a>
                </div>
             </div>
          </div>
		</div>
        </div>
       
		
       
		  <!-- col dikey album sonu-->
		
		  <!-- row yatay album -->
		 <div class="col">
          <div class="card shadow-sm">
			<img src="~/assets/images/pp.jpg" alt="..." class="img-thumbnail">

            <div class="card-body">
            <p class="h1">Pertevpaşa Camii</p>

              <p class="card-text">Yeni Cuma Camii olarak da bilinen Pertev Mehmet Paşa Camii, Türkiye'nin Kocaeli ilinin İzmit ilçesinde bulunan 16. yüzyıl Osmanlı camiidir. Mimarı Mimar Sinan'dır. Sultan Süleyman ve II. Selim döneminde Osmanlı veziri olarak görev yapan Pertev Mehmed Paşa için yapılmıştır. İnşaat 1579'da tamamlandı.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <a href="https://goo.gl/maps/j52PYKnpUUyWvR1E7">
					
					<button type="button" class="btn btn-sm btn-outline-secondary">Git</button>
                  </a>
               
                </div>
              
              </div>
            </div>
          </div>
        </div>
        		  <!-- row yatay album sonu -->
		