@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
       ViewData["Title"] = "Çeşmeler";
}

<main>
    
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Gebzedeki Çeşmeler</h1>
        <p class="lead text-muted">Gebzede bulunan çeşmelere kısa bir bakış atalım.</p>
       
      </div>
    </div>
  </section>
  
   
        <!-- col dikey album -->

        <div class="album py-5 bg-light">
            <div class="container">

          
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
			<img src="~/assets/images/ces.jpg" alt="..." class="img-thumbnail">



            <div class="card-body">
				<p class="h1">İbrahim Paşa Çeşmesi (Çarşı Çeşmesi)</p>
              <p class="card-text">Sadrazam Köprülü Mehmet Paşa'nın kethüdası ve veziri İbrahim Paşa tarafından 1664 yılında yaptırılmış olup, eni boyu yaklaşık 6 metre ve kare planlıdır. Suyunun akışı terazi sistemiyle sağlanmıştır. Kitabesinde İbrahim Paşa'nın ismi ve ebcet hesabıyla düşürülen tarihi okunmaktadır. Çeşme 1933 yılında tamir ettirilmiştir. Kent merkezinin hemen ortasında, Çoban Mustafa Paşa Hamamı'nın yanı başındadır.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://goo.gl/maps/pHHQZKNKtWPbPZi86">
					
					<button type="button" class="btn btn-sm btn-outline-secondary">Git</button>
                  </a>
                </div>
             </div>
          </div>
		</div>
        </div>
          
				  <!-- col dikey album sonu-->
		
		  <!-- row yatay album -->
		 <div class="col">
          <div class="card shadow-sm">
			<img src="~/assets/images/hünkarcesme.jpg" alt="..." class="img-thumbnail">

            <div class="card-body">
            <p class="h1">Hünkâr Çeşmesi</p>

              <p class="card-text">Fatih Sultan Mehmet'in 27 Nisan 1481 Cuma günü İtalya üzerine yaptığı sefer sırasında ordusuyla mola verdiği veya otağını kurdurduğu için bu alana Hünkâr Çayırı denilmektedir. 3 Mayıs 1481 tarihinde ölen Fatih Sultan Mehmet'in anısına kitabeli bir çeşme yapılmıştır. Hünkâr Çeşmesi IV. Mehmet Dönemi'nde 1659 tarihinde Sadrazam İbrahim Paşa tarafından yaptırılmış ve bazı onarımlarla günümüze kadar ayakta kalabilmiştir.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <a href="https://goo.gl/maps/7APmuNqNmwY5hKnXA">
					
					<button type="button" class="btn btn-sm btn-outline-secondary">Git</button>
                  </a>
               
                </div>
              
              </div>
            </div>
          </div>
        </div>
       
   
        <!-- col dikey album -->

        <div class="album py-5 bg-light">
            <div class="container">

          
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
			<img src="~/assets/images/1.jpg" alt="..." class="img-thumbnail">



            <div class="card-body">
				<p class="h1">Eskihisar Çeşmesi</p>
              <p class="card-text">1772 tarihinde yaptırılan bu tarihi çeşme adını Eskihisar Köyü'nden almıştır. Üzeri piramit şeklinde bir çatı ile örtülü olan çeşme, kare planlıdır. Ön ve arka yüzleri 270 cm., yan kısımları ise 315 cm'dir. Yüksekliği de 2 metreye yakındır. Tarihi değeri büyük olan bu çeşme 1850 yılında esaslı bir onarım görmüştür.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://goo.gl/maps/rhjPKaw4V7bY4zwn7">
					
					<button type="button" class="btn btn-sm btn-outline-secondary">Git</button>
                  </a>
                </div>
             </div>
          </div>
		</div>
        </div>
         
       
   