@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
       ViewData["Title"] = "Hamamlar";
}
 <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Gebzedeki Hamamlar</h1>
        <p class="lead text-muted">Gebzede 2 adet hamam bulunmaktadır.</p>
       
      </div>
    </div>
  </section>
 <div class="album py-6 bg-light">
            <div class="container">

          
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
			<img src="~/assets/images/menzil.jpg" alt="..." class="img-thumbnail">



            <div class="card-body">
				<p class="h1">Menzilhane Hamamı</p>
              <p class="card-text">Sultan Orhan Camii'nin hemen yanında bulunan hamamın yapım tarihi kesin olarak bilinmemektedir. Cami ile hamamın yapı üslubu arasında önemli benzerlikler mevcuttur. Sultan Orhan'ın hamamı cami ile birlikte yaptırmış olabileceği sanılmaktadır. Küçük bir yapı olan hamamın planı dikdörtgen şeklinde (9.40 m/24) bir alanı kaplar. Hamamda erken Osmanlı mimarisinin özellikleri görülmektedir.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://goo.gl/maps/cgaAyEZRuYSUG2TV7">
					
					<button type="button" class="btn btn-sm btn-outline-secondary">Git</button>
                  </a>
                </div>
             </div>
          </div>
		</div>
        </div>
          
		
       
		  <!-- col dikey album sonu-->
		
		  <!-- row yatay album -->
		 <div class="col">
          <div class="card shadow-sm">
			<img src="~/assets/images/carsi.jpg" alt="..." class="img-thumbnail">

            <div class="card-body">
            <p class="h1">Çoban Mustafa Paşa Hamamı</p>

              <p class="card-text">Tarihi Çarşı Hamamı olarak da geçer. Çoban Mustafa Paşa tarafından 1523 yılında inşa ettirilen hamam, halk arasında Çarşı Hamamı ve Çifte Hamamlar olarak da adlandırılmaktadır. Hamamın iki kubbesi, yanında ise geniş bir sarnıcı bulunmaktadır. Yapıda muntazam kalker taşları kullanılmıştır. Pencerelerinin kemer ayaklarına kadar üçer sıra tuğla ve bir hatıl geçirilmiş olup, bütün pencerelerinin kemerleri tuğladan örülmüştür.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <a href="https://goo.gl/maps/W5kXhntxwanu6NQz9">
					
					<button type="button" class="btn btn-sm btn-outline-secondary">Git</button>
                  </a>
               
                </div>
              
              </div>
            </div>
          </div>
        </div>
        		  <!-- row yatay album sonu -->
