@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	   ViewData["Title"] = "Kaleler";
}
 <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Gebzedeki Kaleler</h1>
        <p class="lead text-muted">Gebzede bir adet kale bulunmaktadır.</p>
       
      </div>
    </div>
  </section>
	  <!-- row yatay album -->
		 <div class="col">
          <div class="card shadow-sm">
			<img src="~/assets/images/Eskihisar.jpg" alt="..." class="img-thumbnail">

            <div class="card-body">
            <p class="h1">Eskihisar Kalesi</p>

              <p class="card-text">Deniz kıyısında yer alan Eskihisar köyünün kuzeydoğu kesiminde, dik yamaçlı bir tepe üzerinde, Eskihisar'daki limanı ve İzmit Körfezi'nin kıyı şeridini savunmak amacıyla, Bizanslıların Komnenoslar (Komneus) döneminde yaklaşık 800 yıl önce Bizans İmparatoru I. Manuel Komnenos tarafından inşa ettirildiği çeşitli kaynaklarda ifade edilmektedir.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <a href="https://goo.gl/maps/PwGEfiNPAHDk7HL66">
					
					<button type="button" class="btn btn-sm btn-outline-secondary">Git</button>
                  </a>
               
                </div>
              
              </div>
            </div>
          </div>
        </div>
        		  <!-- row yatay album sonu -->