@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
       ViewData["Title"] = "Yemekler";
}
<main>
    
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Gebze'nin Yöresel Yemekleri</h1>
        @*<p class="lead text-muted">Gebze'nin yöresel yemeklerine kısa bir bakış atalım.</p>*@
      </div>
	       <p class=" lead text-start">Yöredeki kültürel çeşitlilik ve kozmopolit yapı beslenme biçimlerinde de çeşitlilik yaratmaktadır. Tarımda çağdaş yöntemlerin kullanımı, ülke genelinin üstündedir. Bu, sebze üretiminde yoğunlaşmaktadır. Anadolu'da beslenme temel olarak unlulara dayanırken, Kocaeli'nde sebze-meyve tüketimi öne çıkmaktadır. Karadeniz'den göçlerle, karalahananın da yaygınlaştığı görülmektedir. Ancak kurutma, turşu ve komposto gibi ev konserveciliği giderek azalmaktadır. Yarımca kirazı, Değirmendere fındığı, Kandıra yoğurdu, hindi dolması ev peyniri, İzmit pişmaniyesi bu yörelerin adıyla özdeşleşmiştir.</p>

    </div>
  </section>
  
       
   
        <!-- col dikey album -->

        <div class="album py-5 bg-light">
            <div class="container">

          
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
			<img src="~/assets/images/5.jpg" alt="..." class="img-thumbnail">



            <div class="card-body">
				<p class="h1">Pişmaniye</p>
              <p class="card-text">Pişmaniye veya diğer adlarıyla tel helva, çekme helva, tel tel, tepme helva, keten helva; Anadolu'da beyaz şeker, buğday unu, tereyağı, bitkisel margarin ile yapılan ve yapımı emek gerektiren geleneksel bir tatlı türüdür.</p>
              <p class="card-text">Pişmaniye’nin Yapılışı:
Pişmaniye’nin malzemesi az fakat yapımı zordur. Malzeme un, şeker ve tereyağından ibarettir. Kalaylı, büyük bir bakır kazanda önce un yağ ile kavrulur. Ancak bu iş biraz sabır ister. Kavurma işlemi büyük bir ağaç kaşıkla yapılır. 5-6 saat süren bu kavurma işinden sonra un ile yağ iyice birleştirilir. Kavurma işleminden ayrı olarak başka bir kazanda da şeker kaynatılır. Kaynaya kaynaya iyice ağdalaşan şeker kavrulmuş un ile karıştırılarak birbirine yedirilir. Sonra bu karışım büyük tepsilerde saatlerce ovularak çevrilir. Bu işlem ağdalı hamurun tel tel oluncaya kadar sürdürülür.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.youtube.com/watch?v=E4se2b8Z9WM">
					
					<button type="button" class="btn btn-sm btn-outline-secondary">Yapılışına Bak</button>
                  </a>
                </div>
             </div>
          </div>
		</div>
        </div>


       
   
        <!-- col dikey album -->

        <div class="album py-5 bg-light">
            <div class="container">

          
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
			<img src="~/assets/images/umac.jpg" alt="..." class="img-thumbnail">



            <div class="card-body">
				<p class="h1">Umaç Çorbası</p>
              <p class="card-text">Malzemeler: 1 bardak un, 1 adet un, 1 çay kaşığı toz biber, 1 çay kaşığı tuz, 1 kaşık margarin
Yapılışı: Un, su, tuz karıştırılarak pişirilir. Yağ, tuz, biber eritilir ve kaynayan çorbanın içine atılır.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.youtube.com/watch?v=I178xQq5USM">
					
					<button type="button" class="btn btn-sm btn-outline-secondary">Yapılışına Bak</button>
                  </a>
                </div>
             </div>
          </div>
		</div>
        </div>


          <!-- col dikey album sonu-->
		
		  <!-- row yatay album -->
		 <div class="col">
          <div class="card shadow-sm">
			<img src="~/assets/images/cigceli-kavurma.jpg" alt="..." class="img-thumbnail">

            <div class="card-body">
            <p class="h1">Ciğceli Kavurma</p>

              <p class="card-text">Malzemeler: 1 kg kuşbaşı et, ½ kg bulgur, 2 su bardağı süt kaymağı ( Ciğce ), 1 çay bardağı karabiber, 1 tatlı kaşığı tuz.
Yapılışı: Et haşlanır. Bulgur veya pirinç pilavı yapılır. Pilav servis tabağına alınır. Kavrulmuş kavurma pilav üzerine konulur. Kavurma üzerine ise süt kaymağı eritilerek dökülür.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <a href="https://www.youtube.com/watch?v=o031Hz0w2YQ">
					
					<button type="button" class="btn btn-sm btn-outline-secondary">Yapılışına Bak</button>
                  </a>
               
                </div>
              
              </div>
            </div>
          </div>
        </div>
       
        <!-- col dikey album -->

        <div class="album py-5 bg-light">
            <div class="container">

          
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
			<img src="~/assets/images/mancar-yemegi.jpg" alt="..." class="img-thumbnail">



            <div class="card-body">
				<p class="h1">Mancar Yemeği (Çiçekli Mancar)</p>
              <p class="card-text">Malzemeler: 1 kg mancar, 1 çay kaşığı zeytinyağı, 1 adet domates, 1 adet soğan.
Yapılışı: Mancar ayıklanarak soğuk suda iki saat süre ile bekletilir ve sudan çıkartılır. Kısık ateşte haşlanır. Soğan yağ içinde kavrulur. Haşlanmış mancar kavrulmuş soğan içine karıştırılarak 5-10 dakika pişirilir..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.youtube.com/watch?v=M3VRxq-uHoM">
					
					<button type="button" class="btn btn-sm btn-outline-secondary">Yapılışına Bak</button>
                  </a>
                </div>
             </div>
          </div>
		</div>
        </div>
        

          <!-- col dikey album sonu-->
		
		  <!-- row yatay album -->
		 <div class="col">
          <div class="card shadow-sm">
			<img src="~/assets/images/4.jpg" alt="..." class="img-thumbnail">

            <div class="card-body">
            <p class="h1">Cızlama (Akıtma)</p>

              <p class="card-text">Malzemeler: ½ kg un, 1 tatlı kaşığı maya, 1 çay kaşığı tuz, 1,5 bardak su.
Yapılışı: Un, tuz, su, maya akıcı olacak şekilde hamur yapılarak kabarmaya bırakılır. Saç veya tava içine yağ sürülerek 1 kaşık hamur atılır. Kısık ateşte pişirilir. </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <a href="https://www.youtube.com/watch?v=LvMqcx-zaYE">
					
					<button type="button" class="btn btn-sm btn-outline-secondary">Yapılışına Bak</button>
                  </a>
               
                </div>
              
              </div>
            </div>
          </div>
        </div>
       

          <!-- col dikey album sonu-->
		
		  <!-- row yatay album -->
		 <div class="col">
          <div class="card shadow-sm">
			<img src="~/assets/images/3.png" alt="..." class="img-thumbnail">

            <div class="card-body">
            <p class="h1">Höşmerim</p>

              <p class="card-text">Malzemeler: ½ kg tuzsuz taze peynir.1/2 paket margarin, ½ kg şeker, 1 bardak un.
Yapılışı: Peynir ateş üzerinde karıştırılarak sarartılır. Un, yağ, şeker karıştırılarak 15-20 dakika kadar pişirilir sararınca indirilir. Kaşık kaşık servis yapılır. </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <a href="https://www.youtube.com/watch?v=MZOAKc9Tiok">
					
					<button type="button" class="btn btn-sm btn-outline-secondary">Yapılışına Bak</button>
                  </a>
               
                </div>
              
              </div>
            </div>
          </div>
        </div>

   